
    body {
        margin: 0 , 290,34;
        min-height: 90vh;
        background-color:navy;
        font-family: Arial, sans-serif;
      }
      

form{
    
    background-color:lightgrey;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    
      
}
label{
    display:block;
    margin-top:15px;
    font-weight:bold;
}
Input, select,textarea {
    width: 50%;
    padding:8px;
    margin-top: 5px;
    
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-right: 50px;
}
button {
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #4CAF50;
    color:white;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    /* Button hover effect */
button:hover {
    background-color: #45a049;
}
}
