*{
    margin:0;
    padding:0;
}
body {
    background-color: greenyellow;
}

img{
    width: 100%;
    max-width: 400px;
}
button {
    padding: 10px 20px;
}
@media screen and (max-width: 480px) {
    button {
        width : 100;
    }
}
